@charset "UTF-8";
@import url("main-template.css");
@import url("ursiStyle.css");
@import url("slider.css");
:root {
    --dark-brown: #2c180e;
    --star-color: #fea569;
    /* var(--dark-brown); */
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    height: 0;
}

.precioviejo {
    text-decoration: line-through;
}

a {
    cursor: pointer;
}

.blog-v .post .img-wrapper img {
    opacity: 1 !important;
}

iframe .mapa {
    width: 100%;
    height: 50vh;
}

iframe .videom {
    width: 100%;
    height: 320px;
}

.star-rating {
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    vertical-align: middle
}

.star-rating .fa-star {
    display: inline-block;
    margin-right: .1875rem;
    color: var(--dark-brown);
    font-size: 12px;
    vertical-align: middle
}

.star-rating .fa-star.active {
    color: var(--star-color);
}

.galeria-prod {
    display: grid;
    grid-template-columns: repeat(4, 95px);
    grid-template-rows: repeat(1, 18vw);
    grid-gap: 10px;
    height: 70px;
}

.gallery__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.modal-content {
    z-index: 9999999 !important;
}

.modal-backdrop {
    position: relative !important;
    background-color: transparent !important;
}

.precioantes {
    text-decoration: line-through;
}

.cartlist {
    width: 30rem;
}

.cartlist .items {
    width: 30rem;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 0 !important;
}

.cartlist .subtotal {
    position: absolute;
    bottom: 40px;
    background-color: #f2f2f2;
    width: 100%;
    left: 0;
    text-align: center;
    border-top: 1px solid #ccc;
}

.cartlist .btn {
    position: absolute;
    bottom: 0px;
    left: 0;
}

.contact .map-canvas,
.mapa {
    height: 450px;
    margin-bottom: 40px;
    width: 100% !important;
}

.widget-social i {
    font-size: 16px;
}

.carousel-inner .info {
    display: flex;
    align-content: center;
    position: absolute;
    align-items: center;
    flex-direction: column;
    left: 43%;
    top: 43%;
}

.carousel-inner img {
    width: -webkit-fill-available;
}

.promocion {
    background-color: cornflowerblue;
}

.promocion .countdown {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}
