<app-header></app-header>
<div *ngIf="!producto">
    <h1 class="text-center">No hay info</h1>
</div>
<div *ngIf="producto">
    <div class="shop-detail-3 woocommerce" id="page">

        <section class="sub-header shop-detail-1">
            <img class="rellax bg-overlay" [src]="producto.img | imagenPipe: 'productos'" alt="{{producto.titulo}}">
            <div class="overlay-call-to-action"></div>
            <h3 class="heading-style-3" style="color:#ccc">{{producto.titulo}}</h3>
        </section>
        <section class="boxed-sm">
            <div class="container">
                <div class="row product-detail">
                    <div class="row product-detail-wrapper">

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="woocommerce-product-gallery vertical">
                                    <div class="main-carousel">
                                        <div class="item">
                                            <img class="img-responsive" [src]="producto.img | imagenPipe: 'productos'" alt="{{producto.titulo}} thumbnail">
                                        </div>

                                    </div>
                                </div>

                                <!-- gallery -->
                                <!-- <div class="col-lg-7 pr-lg-0 pt-lg-4">
                                    <div class="cz-product-gallery">

                                        <div class="galeria-prod">
                                            <ng-container *ngFor="let imagen of galeria;let primero = first;let indice=index">
                                                <a class="cz-thumblist-item active" [attr.id]="'img_'+indice" (click)="click_img(imagen.imagen,'img_'+indice)" *ngIf="primero">
                                                    <img class="gallery__img" [src]="imagen.img | imagenPipe: 'galerias'" alt="Product thumb">
                                                </a>
                                                <a class="cz-thumblist-item" [attr.id]="'img_'+indice" (click)="click_img(imagen.imagen,'img_'+indice)" *ngIf="!primero">
                                                    <img class="gallery__img" [src]="imagen.img | imagenPipe: 'galerias'" alt="Product thumb">
                                                </a>
                                            </ng-container>

                                        </div>
                                    </div>
                                </div> -->
                                <!-- gallery -->
                            </div>
                            <div class="col-md-6">
                                <!-- toast -->
                                <div class="toast-container toast-top-right">
                                    <div class="toast mb-3 fade hide" id="dark-toast" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header bg-success text-white" style="border-radius: 14px 14px 0 0 ; padding: 10px">

                                            <h6 class="font-size-sm text-white mb-0 mr-auto"> <i class=" fa fa-shopping-cart"></i> &nbsp;Exito!</h6>
                                            <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close" (click)="close_toast()"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="toast-body text-success">Se agrego el producto al carrito.</div>
                                    </div>
                                </div>
                                <!-- toast -->
                                <div class="summary">
                                    <div class="desc">
                                        <div class="header-desc">
                                            <h2 class="product-title">{{producto.titulo}} </h2>
                                        </div>
                                    </div>
                                    <!-- detalle -->
                                    <div class="" id="preview-img">
                                        <div class="product-details ml-auto pb-3">
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <a href="#reviews" data-scroll="">
                                                    <div class="star-rating" *ngIf="raiting_puntos == 5">
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled active"></i>
                                                    </div>
                                                    <div class="star-rating" *ngIf="raiting_puntos >= 4 && raiting_puntos < 5">
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                    </div>
                                                    <div class="star-rating" *ngIf="raiting_puntos >= 3 && raiting_puntos < 4">
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                    </div>
                                                    <div class="star-rating" *ngIf="raiting_puntos >= 2 && raiting_puntos < 3">
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                    </div>
                                                    <div class="star-rating" *ngIf="raiting_puntos >= 1 && raiting_puntos < 2">
                                                        <i class="sr-star czi-star-filled active"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                    </div>
                                                    <div class="star-rating" *ngIf="raiting_puntos >= 0 && raiting_puntos < 1">
                                                        <i class="sr-star czi-star-filled"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                        <i class="sr-star czi-star-filled"></i>
                                                    </div>
                                                    <span class="d-inline-block font-size-sm text-body align-middle mt-1 ml-1">{{comentarios.length}}
                                                    <span *ngIf="comentarios.length == 1">Reseña</span>
                                                    <span *ngIf="comentarios.length != 1">Reseñas</span>
                                                    </span>
                                                </a>
                                                <button class="btn btn-wishlist mr-0 mr-lg-n3" type="button" data-toggle="tooltip" title="" data-original-title="Add to wishlist">
                                                  <i class="fa fa-heart-o"></i>
                                                </button>
                                            </div>
                                            <div class="mb-3"><span class="h3 font-weight-normal text-accent mr-1">${{producto.precio_ahora}}</span>
                                                <del class="text-muted font-size-lg mr-3">${{producto.precio_antes}}</del>
                                                <span class="badge badge-danger badge-shadow align-middle mt-n2">Oferta</span>
                                            </div>
                                            <div class="font-size-sm">
                                                <span class="text-heading font-weight-medium mr-1">
                                                      Colores:</span>
                                                <span class="text-muted" id="colorOption">
                                                <ng-container *ngFor="let color of colores; let indice = first">
                                                  <ng-container *ngIf="indice">{{color.titulo}}</ng-container>
                                                  <ng-container *ngIf="!indice"> / {{color.titulo}}</ng-container>
                                                </ng-container>
                                              </span>
                                            </div>
                                            <div class="font-size-sm mb-4">
                                                <span class="text-heading font-weight-medium mr-1">
                                                  Stock:</span>
                                                <span class="text-muted">
                                                    {{producto.stock}}
                                                </span>
                                            </div>
                                            <div class="position-relative mr-n4 mb-3">
                                                <div *ngFor="let color of colores; let indice = index">
                                                    <div class="custom-control custom-option custom-control-inline mb-2">
                                                        <div *ngIf="color.color == color_to_cart">
                                                            <input class="custom-control-input" type="radio" name="color_to_cart" [attr.id]="'color-'+indice" data-label="colorOption" checked (change)="get_color($event,color)">
                                                            <label class="custom-option-label rounded-circle" [attr.for]="'color-'+indice"><span class="custom-option-color rounded-circle" [ngStyle]="{'background': color.color}"></span></label>
                                                        </div>
                                                        <div *ngIf="color.color != color_to_cart">
                                                            <input class="custom-control-input" type="radio" name="color_to_cart" [attr.id]="'color-'+indice" data-label="colorOption" (change)="get_color($event,color)">
                                                            <label class="custom-option-label rounded-circle" [attr.for]="'color-'+indice"><span class="custom-option-color rounded-circle" [ngStyle]="{'background': color.color}"></span></label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="product-badge product-available mt-n1"><i class="fa fa-check-circle-o text-success"></i> &nbsp; Compra segura</div>
                                            </div>
                                            <form class="mb-grid-gutter" #carritoForm="ngForm" (ngSubmit)="add_to_cart(carritoForm)">
                                                <div class="form-group">
                                                    <div class="d-flex justify-content-between align-items-center pb-1">
                                                        <label class="font-weight-medium" for="product-size">{{producto.nombre_selector}}:</label>
                                                        <a class="nav-link-style font-size-sm" *ngIf="producto.subcategoria == 'Calzado'" data-toggle="modal" data-target="#sizes-modal" style="cursor: pointer;"><i class="czi-ruler lead align-middle mr-1 mt-n1"></i>Formato de tallas</a>
                                                    </div>
                                                    <select class="custom-select form-control" required="" id="product-size" name="selector_to_cart" [(ngModel)]="selector_to_cart">
                                                      <option value=" " selected disabled>Selecciona</option>
                                                      <option value="{{selector.titulo}}" *ngFor="let selector of selectores" >{{selector.titulo}}</option>

                                                    </select>
                                                    <div class="invalid-tooltip" style="display: block;" *ngIf="selector_error">Selecciona alguna opción por favor.</div>
                                                </div>
                                                <div class="form-group d-flex align-items-center">
                                                    <input type="number" class="form-control mr-3" min="1" [attr.max]="producto.stock" name="cantidad_to_cart" [(ngModel)]="cantidad_to_cart" style="width: 5rem;">
                                                    <button class="btn btn-primary btn-shadow btn-block" disabled *ngIf="!identity" type="submit"><i class="czi-cart font-size-lg mr-2"></i>Agregar al carrito</button>
                                                    <button class="btn btn-primary btn-shadow btn-block" *ngIf="identity" type="submit"><i class="czi-cart font-size-lg mr-2"></i>Agregar al carrito</button>
                                                </div>
                                                <div class="invalid-feedback" *ngIf="err_stock" style="display: block;">{{err_stock}}</div>
                                            </form>
                                            <!-- Product panels-->
                                            <div class="card shadow">
                                                <p class="text-justify" style="font-size: 14px;">{{producto.info_short}}</p>

                                            </div>
                                            <!-- Sharing-->

                                        </div>
                                    </div>
                                    <!-- detalle -->


                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <app-cart></app-cart>
                        </div> -->
                    </div>
                </div>
                <div class="woocommerce-tabs">
                    <div class="row">
                        <div class="col-md-12 woocommerce-tabs-inner">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <ul class="tabs tab-style-2" role="tablist">
                                        <li class="active" role="presentation">
                                            <a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#Additional-Information" aria-controls="Additional-Information" role="tab" data-toggle="tab">Additional Information</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#Review" aria-controls="Review" role="tab" data-toggle="tab">Review</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="tab-content tab-content-style-2">
                                <div class="tab-pane fade in active" id="Description" role="tabpanel">
                                    <p [innerHTML]="producto.detalle"></p>
                                </div>
                                <div class="tab-pane fade" id="Additional-Information" role="tabpanel">
                                    <iframe class="videom" [src]="getVideoIframe(producto.video_review)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; " allowfullscreen></iframe>
                                    <table class="shop_attributes table table-striped table-bordered">
                                        <tbody>
                                            <tr>
                                                <th>Creado </th>
                                                <td>
                                                    <p>{{producto.createdAt}}</p>
                                                </td>
                                            </tr>
                                            <div *ngIf="producto.updatedAt">
                                                <tr>
                                                    <th>Ultima actualización</th>
                                                    <td>
                                                        <p>{{producto.updatedAt}}</p>
                                                    </td>
                                                </tr>
                                            </div>

                                            <tr>
                                                <th>Artículo Disponible?</th>
                                                <td>
                                                    <div *ngIf="producto.isFeatured == true">
                                                        <p>Si</p>
                                                    </div>
                                                    <div *ngIf="producto.isFeatured == false">
                                                        <p>No</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="Review" role="tabpanel">
                                    <!-- comentarios -->
                                    <div class="border-top border-bottom my-lg-3 py-5">
                                        <div class="pt-md-2" id="reviews">
                                            <div class="row pb-3">
                                                <div class="col-lg-4 col-md-5">
                                                    <h2 class="h3 mb-4">{{comentarios.length}}
                                                        <span *ngIf="comentarios.length == 1">Reseña</span>
                                                        <span *ngIf="comentarios.length != 1">Reseñas</span>
                                                    </h2>
                                                    <div class="star-rating mr-2" *ngIf="raiting_puntos == 5">
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                    </div>
                                                    <div class="star-rating mr-2" *ngIf="raiting_puntos >= 4 && raiting_puntos < 5">
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                    </div>
                                                    <div class="star-rating mr-2" *ngIf="raiting_puntos >= 3 && raiting_puntos < 4">
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                    </div>
                                                    <div class="star-rating mr-2" *ngIf="raiting_puntos >= 2 && raiting_puntos < 3">
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                    </div>
                                                    <div class="star-rating mr-2" *ngIf="raiting_puntos >= 1 && raiting_puntos < 2">
                                                        <i class="czi-star-filled font-size-sm text-accent mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                    </div>
                                                    <div class="star-rating mr-2" *ngIf="raiting_puntos >= 0 && raiting_puntos < 1">
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                        <i class="czi-star font-size-sm text-muted mr-1"></i>
                                                    </div>
                                                    <span class="d-inline-block align-middle">{{raiting_puntos.toFixed(1)}} Rating general</span>
                                                    <p class="pt-3 font-size-sm text-muted">{{total_puntos}} de {{max_puntos}} puntos ({{raiting_porcent}}%)<br>
                                                        <span class="badge badge-accent" style="background: #EABE3F;" *ngIf="raiting_porcent >= 80">
          Los compradores recomiendan el producto.
        </span>
                                                    </p>
                                                </div>
                                                <div class="col-lg-8 col-md-7">
                                                    <div class="d-flex align-items-center mb-2">
                                                        <div class="text-nowrap mr-3"><span class="d-inline-block align-middle text-muted">5</span><i class="czi-star-filled font-size-xs ml-1"></i></div>
                                                        <div class="w-100">
                                                            <div class="progress" style="height: 4px;">
                                                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': cinco_porcent+'%'}" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div><span class="text-muted ml-3">{{cinco_estrellas}}</span>
                                                    </div>
                                                    <div class="d-flex align-items-center mb-2">
                                                        <div class="text-nowrap mr-3"><span class="d-inline-block align-middle text-muted">4</span><i class="czi-star-filled font-size-xs ml-1"></i></div>
                                                        <div class="w-100">
                                                            <div class="progress" style="height: 4px;">
                                                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': cuatro_porcent+'%'}" style="background-color: #a7e453;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div><span class="text-muted ml-3">{{cuatro_estrellas}}</span>
                                                    </div>
                                                    <div class="d-flex align-items-center mb-2">
                                                        <div class="text-nowrap mr-3"><span class="d-inline-block align-middle text-muted">3</span><i class="czi-star-filled font-size-xs ml-1"></i></div>
                                                        <div class="w-100">
                                                            <div class="progress" style="height: 4px;">
                                                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': tres_porcent+'%'}" style="background-color: #ffda75;" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div><span class="text-muted ml-3">{{tres_estrellas}}</span>
                                                    </div>
                                                    <div class="d-flex align-items-center mb-2">
                                                        <div class="text-nowrap mr-3"><span class="d-inline-block align-middle text-muted">2</span><i class="czi-star-filled font-size-xs ml-1"></i></div>
                                                        <div class="w-100">
                                                            <div class="progress" style="height: 4px;">
                                                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': dos_porcent+'%'}" style="background-color: #fea569;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div><span class="text-muted ml-3">{{dos_estrellas}}</span>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <div class="text-nowrap mr-3"><span class="d-inline-block align-middle text-muted">1</span><i class="czi-star-filled font-size-xs ml-1"></i></div>
                                                        <div class="w-100">
                                                            <div class="progress" style="height: 4px;">
                                                                <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': uno_porcent+'%'}" style="width: 4%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div><span class="text-muted ml-3">{{una_estrella}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="mt-4 pb-4 mb-3">
                                            <div class="row">
                                                <!-- Reviews list-->
                                                <div class="col-md-7" *ngIf="comentarios.length != 0">
                                                    <div class="d-flex justify-content-end pb-4">
                                                        <div class="form-inline flex-nowrap">
                                                            <label class="text-muted text-nowrap mr-2 d-none d-sm-block" for="sort-reviews">Ordenar por:</label>
                                                            <select class="custom-select custom-select-sm form-control" (change)="sort_coments()" [(ngModel)]="sort_data_coment">
              <option value="fecha">Fecha</option>
              <option value="raiting">Popular</option>
              <option value="-raiting">Bajo rating</option>
            </select>
                                                        </div>
                                                    </div>
                                                    <!-- Review-->

                                                    <ng-container *ngFor="let item of comentarios| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                                        <div class="product-review pb-4 mb-4 border-bottom">
                                                            <div class="d-flex mb-3">
                                                                <div class="media media-ie-fix align-items-center mr-4 pr-2">
                                                                    <img class="rounded-circle" width="50" [src]="item.user.img | imagenPipe: 'usuarios'" alt="{{item.user.first_name}} {{item.user.last_name}}">
                                                                    <div class="media-body pl-3">
                                                                        <h6 class="font-size-sm mb-0">{{item.user.first_name}} {{item.user.last_name}}</h6><span class="font-size-ms text-muted">{{ item.createdAt | date:'MMM d, y' }}</span>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="star-rating" *ngIf="item.estrellas == 5">
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                    </div>
                                                                    <div class="star-rating" *ngIf="item.estrellas >= 4 && item.estrellas < 5">
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                    </div>
                                                                    <div class="star-rating" *ngIf="item.estrellas >= 3 && item.estrellas < 4">
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                    </div>
                                                                    <div class="star-rating" *ngIf="item.estrellas >= 2 && item.estrellas < 3">
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                    </div>
                                                                    <div class="star-rating" *ngIf="item.estrellas >= 1 && item.estrellas < 2">
                                                                        <i class="sr-star czi-star-filled active"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                    </div>
                                                                    <div class="star-rating" *ngIf="item.estrellas >= 0 && item.estrellas < 1">
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                        <i class="sr-star czi-star-filled"></i>
                                                                    </div>
                                                                    <div class="font-size-ms text-muted">{{item.estrellas}} de 5 estrellas para el cliente.</div>
                                                                </div>
                                                            </div>
                                                            <p class="font-size-md mb-2">{{item.comentario}}</p>
                                                            <ul class="list-unstyled font-size-ms pt-1">
                                                                <li class="mb-1"><span class="font-weight-medium">Lo bueno:&nbsp;</span>{{item.pros}}</li>
                                                                <li class="mb-1"><span class="font-weight-medium">Lo malo:&nbsp;</span>{{item.cons}}</li>
                                                            </ul>
                                                            <div class="text-nowrap" *ngIf="identity">
                                                                <button class="btn-like" (click)="add_likes(item._id)" type="button">{{item.likes}}</button>
                                                                <button class="btn-dislike" (click)="add_dislikes(item._id)" type="button">{{item.dislikes}}</button>
                                                            </div>
                                                            <div class="text-nowrap" *ngIf="!identity">
                                                                <button class="btn-like" type="button">{{item.likes}}</button>
                                                                <button class="btn-dislike" type="button">{{item.dislikes}}</button>
                                                            </div>
                                                        </div>
                                                    </ng-container>

                                                    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="count_cat"></ngb-pagination>
                                                </div>
                                                <div class="col-md-7" *ngIf="comentarios.length == 0">
                                                    <h3 class="pt-3"><i class="czi-orange"></i> No existe aún ninguna reseña.</h3>
                                                </div>
                                                <!-- Leave review form-->
                                                <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
                                                    <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-lg" style="background: white !important;">
                                                        <h3 class="h4 pb-2">Escribir reseña</h3>
                                                        <form #reviewForm="ngForm" (ngSubmit)="saveComent(reviewForm)">
                                                            <div class="form-group" *ngIf="msm_error_review">
                                                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                                    {{msm_error_review}}
                                                                    <button type="button" class="close" (click)="close_alert()" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="review-rating">Rating<span class="text-danger">*</span></label>
                                                                <select class="custom-select form-control" required="" name="review_estrellas" [(ngModel)]="review_estrellas">
                <option value="" selected disabled>Selecciona</option>
                <option value="5">5 estrellas</option>
                <option value="4">4 estrellas</option>
                <option value="3">3 estrellas</option>
                <option value="2">2 estrellas</option>
                <option value="1">1 estrella</option>
              </select>

                                                            </div>
                                                            <div class="form-group">
                                                                <label for="review-text">Reseña<span class="text-danger">*</span></label>
                                                                <textarea class="form-control" rows="5" required="" name="review_comentario" [(ngModel)]="review_comentario" placeholder="Escribe que tal te parecio el producto."></textarea>

                                                            </div>
                                                            <div class="form-group">
                                                                <label for="review-pros">Pros</label>
                                                                <textarea class="form-control" rows="2" placeholder="Lo bueno" name="review_pros" [(ngModel)]="review_pros"></textarea>
                                                            </div>
                                                            <div class="form-group mb-4">
                                                                <label for="review-cons">Cons</label>
                                                                <textarea class="form-control" rows="2" placeholder="Lo malo" name="review_cons" [(ngModel)]="review_cons"></textarea>
                                                            </div>
                                                            <ng-container *ngIf="identity">
                                                                <button *ngIf="get_state_user_producto_coment" class="btn btn-primary btn-shadow btn-block" type="submit">Enviar reseña</button>
                                                                <span *ngIf="!get_state_user_producto_coment"><h6 class="text-center">Debe comprar el producto, para emitir una reseña</h6></span>
                                                            </ng-container>

                                                            <button class="btn btn-primary btn-shadow btn-block" disabled *ngIf="!identity">No autenticado</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- comentarios -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- productos nuevos -->
                <div class="shop-layout-1" id="page">
                    <section class="box-sm">
                        <div class="container pt-5 pb-5">
                            <h2 class="h3 text-center pb-4" *ngIf="identity">Productos nuevos</h2>
                            <div class="row">

                                <figure class="item col-xs-12 col-sm-3" *ngFor="let slide of news_productos; let indice = index">
                                    <div class="product product-style-1">
                                        <div class="img-wrapper">
                                            <a [routerLink]="['/app/producto/', slide._id]">
                                                <img class="img-responsive" [src]="slide.img | imagenPipe: 'productos'" [title]="slide.titulo" alt="{{slide.titulo}} thumbnail" />
                                            </a>
                                            <!-- <div class="product-control-wrapper bottom-right">
                                                <div class="wrapper-control-item item-wish-list">
                                                    <a class="js-wish-list js-notify-add-wish-list" href="#">
                                                        <span class="lnr lnr-heart"></span>
                                                    </a>
                                                </div>
                                                <div class="wrapper-control-item item-add-cart js-action-add-cart">
                                                    <a class="animate-icon-cart" (click)="addToCart()">
                                                        <span class="lnr lnr-cart"></span>
                                                    </a>
                                                </div>
                                            </div> -->
                                        </div>
                                        <figcaption class="desc text-center">
                                            <h3>
                                                <a class="product-name" [routerLink]="['/app/producto/', slide._id]">{{slide.titulo.substr(0,60)}}...</a>
                                            </h3>
                                            <p>
                                                <a class="product-meta d-block font-size-xs pb-1" [routerLink]="['/app/category/',slide.categoria._id]">{{slide.categoria.nombre}} - {{slide.subcategoria | slice: 0:20}}s...</a>
                                            </p>
                                            <span class="price">${{producto.precio_ahora}}</span><br>
                                            <span class="price">${{producto.precio_antes}}</span>

                                            <div class="stars">
                                                <div class="star-rating" *ngIf="slide.stars == 5">
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                </div>
                                                <div class="star-rating" *ngIf="slide.stars >= 4 && slide.stars < 5">
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                </div>
                                                <div class="star-rating" *ngIf="slide.stars >= 3 && slide.stars < 4">
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                </div>
                                                <div class="star-rating" *ngIf="slide.stars >= 2 && slide.stars < 3">
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                </div>
                                                <div class="star-rating" *ngIf="slide.stars >= 1 && slide.stars < 2">
                                                    <i class="sr-star fa fa-star-filled active"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                </div>
                                                <div class="star-rating" *ngIf="slide.stars >= 0 && slide.stars < 1">
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                    <i class="sr-star fa fa-star-filled"></i>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </div>
                                </figure>



                            </div>
                        </div>
                    </section>
                </div>

                <!-- productos nuevos -->
            </div>
        </section>
    </div>
</div>
<app-footer></app-footer>