<div id="carouselExampleIndicators" class="carousel slide ">

    <div class="carousel-inner" *ngFor="let slider of sliders | slice:0:1 ">

        <div class="item active">
            <div class="desktop">
                <div class="BannPpal " style="background-image: url(' {{imagenSerUrl}}/sliders/{{slider.img}}  ')">
                    <div class="container">
                        <div class="cuadrotext">
                            <h3 class="Up {{slider.is_activeText}}">{{slider.first_title}}</h3>
                            <p class="Up {{slider.is_activeText}}">{{slider.subtitulo}}</p><br><br>
                            <div class="text-center">
                                <a href="{{slider.enlace}}" target="{{slider.target}}" class="btn btn-success btn-lg {{slider.mostrarboton}}">Boton </a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="icon-next"></span>
    </a>

</div>
