<app-header></app-header>
<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="images/sub-header/05.jpg" alt="">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Mis Direcciones</h3>
</section>
<!-- Page Content-->
<div class="container pb-5 mb-2 mb-md-3">
    <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0">
            <app-aside-cuenta></app-aside-cuenta>
        </aside>
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-4">
                <h6 class="font-size-base text-light mb-0">Listado de direcciones registradas:</h6>
            </div>
            <!-- Addresses list-->
            <div class="table-responsive font-size-md">

                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Dirección</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="!direcciones">
                            <tr>
                                <td colspan="3" class="text-center">No tienes ninguna dirección registrada.</td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="direcciones">
                            <tr *ngFor="let item of direcciones; let indice = index">
                                <td class="py-3 align-middle">
                                    {{item.nombres_completos}}
                                </td>
                                <td class="py-3 align-middle">
                                    {{item.direccion}}
                                </td>
                                <td class="py-3 align-middle">
                                    <a class="nav-link-style mr-2" [routerLink]="['/app/cuenta/direccion/edit',item._id]" style="cursor:pointer">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                    <a class="nav-link-style text-danger" data-toggle="modal" [attr.data-target]="'#delete-'+item._id" style="cursor:pointer">
                                        <div class="fa fa-trash"></div>
                                    </a>
                                    <!-- modal borrar -->
                                    <div class="modal fade" [attr.id]="'delete-'+item._id" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirmación</h4>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="font-size-sm">¿Desea eliminar definitivamente el regsitro?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                                    <button class="btn btn-primary btn-shadow btn-sm" type="button" (click)="eliminar(item._id)">Suprimir</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- modal borrar -->
                                </td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>
            <hr class="pb-4">
            <div class="text-sm-right">
                <button class="btn btn-primary" routerLink="/app/cuenta/direccion/create">Agregar dirección</button>

            </div>
        </section>
    </div>
</div>
<app-footer></app-footer>
