<app-header></app-header>
<div class="about" id="page">

    <section class="sub-header shop-layout-1">
        <img class="rellax bg-overlay" src="./assets/images/sub-header/08.jpg" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">My Account</h3>
    </section>
    <section class="boxed-sm">
        <div class="container">
            <div class="row blog-v reverse">
                <div class="col-md-4">
                    <app-aside-cuenta></app-aside-cuenta>

                </div>
                <div class="col-md-8">
                    <h1>Bienvenid@</h1>
                    <h2>{{usuario.first_name}} {{usuario.last_name}}</h2>

                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
